/* Main CSS*/
body {
	background: #FFFFF0;
	font-family: 'Poiret One', cursive;
}

header {
	background: url("../images/elephant_main6.jpg") no-repeat center;
	height: 50%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-size: cover;
}

nav {
	margin-top: 350px;
	list-style-type: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: #333333;
	text-align: center;
	color: white;
}
nav li {
	display: inline;
	padding: 0px 60px;
	
}
nav a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}
/* End Main CSS */

/* Home Page CSS */
.main > h1 {
	margin-top: 410px;
	text-align: center;
	font-size: 50px;
}
.main > p > a{
	color: white;
	text-decoration: none;
}







